matplotlib==3.8.1
seaborn==0.13.2

google-auth==2.27.0
google-auth-oauthlib==1.2.1
google-api-python-client==2.155.0
gspread==6.0.2
gspread-dataframe==3.3.1

streamlit==1.41.1
streamlit-google-auth==1.1.8
st-gsheets-connection==0.1.0